.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0B4F6C;
    color: rgb(255, 255, 255);
    height: 60px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.header a {
    color: rgb(255, 255, 255);
    margin-right: 20px;
}


.header a:hover {
    color: rgb(20, 81, 160);
}

.header ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header li {
    padding-inline: 10px;
}

.logo {
    color: #2469ff;
    font-size: 20px;
    font-family: poppins;
    text-transform: none;
}

.logo a {
    color: #3Ea3FF;
}

.imgSpan  {
    display: flex;
    align-items: center;
}

.imgSpan span {
    padding-inline: 10px;
}

.imgSpan img {
    overflow: hidden;
    border-radius: 50%;
    width: auto;
}


@media (max-width: 768) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .header ul {
        margin: 20px 0;
        flex-direction: column;
        text-align: center;
    }

    .header a {
        margin-right: 0;
    }


    .logo {
        margin: 20px 0;
    }
}