.footer {
    margin: 100px 0 40px;
    text-align: center;
}

.footer p {
    margin: 5px 0;
}

.footer li {
    text-decoration: none;
    display: inline;
    list-style: none;
    padding: 20px;
}
